#home-page .hero-image .bg-image {
  background-image: url('../about/IMG_2399.jpg');
}
#about .hero-image .bg-image {
  background-image: url('../about/IMG_2415.jpg');
}
#the-hague .hero-image .bg-image {
  background-image: url('../cities/the-hague/DSC_00351.jpg');
  background-position: center 80%;
}
#guadalupe .hero-image .bg-image {
  background-image: url('../cities/guadalupe/DSC_0304.jpg');
  background-position: center bottom;
}
