/* tablet vertical */
/* small laptop / ipad horizontal */
/* laptop / desktop full-screen browser */
/* 'venti' desktop full-screen browser */
/* What are you, on a imperial star destroyer? */
#home-page .hero-image .bg-image {
  background-image: url('../about/IMG_2399.jpg');
}
#about .hero-image .bg-image {
  background-image: url('../about/IMG_2415.jpg');
}
#the-hague .hero-image .bg-image {
  background-image: url('../cities/the-hague/DSC_0472.jpg');
}
