body {
  box-sizing: border-box;
}
/* NAVIGATION */
#site-navigation {
  position: relative;
  margin-top: 0;
  height: 60px;
}
@media screen and (max-width: 510px) {
  #site-navigation {
    position: static;
    margin-top: 0;
    height: 90px;
  }
}
#site-navigation #logo {
  font-size: 16px;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 30px;
}
@media screen and (max-width: 510px) {
  #site-navigation #logo {
    display: block;
    padding-left: 0;
  }
}
#site-navigation #logo a {
  text-align: center;
  display: block;
}
#site-navigation #logo a:link {
  color: #333333;
  border-bottom: none;
}
#site-navigation #logo a:visited {
  color: #333333;
  border-bottom: none;
}
#site-navigation #logo a:hover {
  text-decoration: none;
  border-bottom: none;
}
#site-navigation nav {
  position: absolute;
  display: inline-block;
  right: 0;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 30px;
}
@media screen and (max-width: 510px) {
  #site-navigation nav {
    position: static;
    text-align: center;
    display: block;
    padding-right: 0;
  }
}
#site-navigation nav ul {
  right: 0;
  display: inline-block;
}
@media screen and (max-width: 510px) {
  #site-navigation nav ul {
    display: inline-block;
  }
}
#site-navigation nav ul li {
  list-style: none;
  display: inline-block;
}
#site-navigation nav ul li a {
  padding: 15px 0 15px 15px;
}
#site-navigation nav ul li a:link {
  color: #333333;
  border-bottom: none;
}
#site-navigation nav ul li a:visited {
  color: #333333;
  border-bottom: none;
}
#site-navigation nav ul li a:hover {
  color: #F19799;
  text-decoration: none;
  border-bottom: none;
}
@media screen and (max-width: 510px) {
  #site-navigation nav ul li a:last-child {
    padding-right: 0;
  }
}
/* HERO HEADER */
.hero-image {
  width: 100%;
  min-height: 300px;
}
.hero-image .bg-image {
  background-position: center center;
  background-size: cover;
  height: 330px;
  /* TBD! */
  width: auto;
}
.hero-image h1 {
  font-family: "depot-new-web", "Avenir Next", Helvetica, Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
  padding-top: 120px;
}
.hero-image h2 {
  font-family: 'Europa', "Avenir Next", Helvetica, Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 12px #000;
}
@media screen and (min-width: 570px) {
  .hero-image {
    min-height: 570px;
    padding: 0 30px;
  }
  .hero-image .bg-image {
    min-height: 570px;
  }
  .hero-image .bg-image h1 {
    padding-top: 420px;
  }
}
@media screen and (min-width: 1230px) {
  .move-down {
    margin-top: 630px;
  }
  .hero-image {
    min-height: 570px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 0 30px;
  }
  .hero-image .bg-image {
    min-height: 570px;
  }
  .hero-image .bg-image h1 {
    padding-top: 420px;
  }
}
/* image captions */
figure {
  position: relative;
}
figure figcaption {
  position: absolute;
  bottom: 42px;
  text-align: right;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: block;
  text-shadow: 0px 0px 12px #000;
  right: 0;
  color: white;
  line-height: 15px;
  font-size: 12px;
}
@media screen and (min-width: 510px) {
  figure figcaption {
    bottom: 15px;
  }
}
/* inputs */
/* Firefox 18- */
/* Firefox 19+ */
