.mono {
  font-family: "Andale Mono", "inconsolata", "Courier New", Courier, monospace;
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: 'Europa', "Avenir Next", Helvetica, Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
  -webkit-font-smoothing: antialiased !important;
}
a:link {
  color: #F19799;
  text-decoration: none;
  border-bottom: 1px solid #F19799;
}
a:visited {
  color: #F2A632;
  text-decoration: none;
  border-bottom: 1px solid #F2A632;
}
a:hover {
  color: #8DD0DB;
  text-decoration: none;
  border-bottom: 1px solid #8DD0DB;
}
p {
  max-width: 870px;
  /* .col10 */
  margin-bottom: 30px;
  margin-left: auto;
  /* .centered */
  margin-right: auto;
  /* .centered */
  padding: 30px 30px;
}
.padding-top {
  padding-top: 30px;
}
.padding-bottom {
  padding-bottom: 30px;
}
h1,
.h1-like {
  font-family: 'Europa', "Avenir Next", Helvetica, Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 45px;
}
h2,
.h2-like {
  font-size: 20px;
  line-height: 30px;
}
.subtitle {
  font-family: "Andale Mono", "inconsolata", "Courier New", Courier, monospace;
  font-weight: 500;
  font-style: normal;
  padding: 60px 30px 0;
  text-align: center;
  display: block;
}
/* image captions */
figure {
  position: relative;
}
figure figcaption {
  font-family: "Andale Mono", "inconsolata", "Courier New", Courier, monospace;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  bottom: 42px;
  text-align: right;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: block;
  text-shadow: 0px 0px 12px #000;
  right: 0;
  color: white;
  line-height: 15px;
  font-size: 12.5px;
}
@media screen and (min-width: 510px) {
  figure figcaption {
    bottom: 15px;
  }
}
.link-list ul {
  padding: 30px;
}
@media screen and (min-width: 510px) {
  .link-list ul {
    padding: 60px 180px;
  }
}
.link-list ul li {
  font-family: "Andale Mono", "inconsolata", "Courier New", Courier, monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.link-list ul li:last-child {
  margin-bottom: 30px;
  padding-bottom: 30px;
}
/* avoid collapsing margins
you might need this, depending on your design
*/
/*
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}
*/
/* avoid last-child bottom margin */
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
blockquote:last-child,
pre:last-child,
table:last-child {
  margin-bottom: 0;
}
/* avoid supp margin on nested elements */
li p,
li ul {
  margin-top: 0;
  margin-bottom: 0;
}
/* you shall not pass */
textarea,
table,
td,
th,
code,
pre,
samp,
div,
p {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
code,
pre,
samp {
  white-space: pre-wrap;
  font-family: monospace;
}
code {
  line-height: 1;
}
table {
  margin-bottom: 1.5em;
}
