@import "vars";

/* page width */
#contained{
  max-width: 1230px;
  margin: 0 auto;
}

* {box-sizing: border-box;}

/*
.col14, .full-width, */
section{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: block;
  clear: both;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 510px) {
  .padding-top{
    padding-top: 30px;
  }
  .padding-bottom{
    padding-bottom: 30px;
  }
}

/* 2 photo split */
.no-split{
  @media screen and (min-width: 510px) {
    // padding: 0 30px;
  }
}
.two-split{
  display: block;
  clear: both;
}
.two-split figure{
  width: 100%;
  height: auto;
  display: block;
  vertical-align: top;
  padding-bottom: 30px;
}

@media screen and (min-width: 510px) {
  .two-split figure, .two-split p{
    padding: 0;
    width: 50%;
    height: auto;
    display: inline-block;
  }
  .two-split figure:first-child, .two-split p:first-child{
    padding-right: 15px;
    float: left;
    figcaption{
      padding-right: 35px;
    }
  }
  .two-split figure:last-child, .two-split p:last-child{
    padding-left: 15px;
    figcaption{
      padding-right: 20px;
    }
  }
}

/* 3 photo split */
.three-split{
  display: block;
  clear:both;
}
.three-split figure{
  width: 100%;
  height: auto;
  display: block;
  vertical-align: top;
  padding-bottom: 30px;
}
.three-split figure:last-child{
    padding-bottom: 0;
  }

@media screen and (min-width: 510px) {
  .three-split{
    display: block;
    clear:both;
  }
  .three-split figure, .three-split p{
    padding: 0;
    width: 33.33333333%;
    max-width: 33.3333333333%;
    display: inline-block;
  }
  .three-split figure:first-child, .three-split p:first-child{
    padding-right: 20px;
    float:left;
    figcaption{
      padding-right: 40px;
    }
  }
  .three-split figure:nth-child(2), .three-split p:nth-child(2){
    padding-right: 10px;
    padding-left: 10px;
    figcaption{
      padding-right: 40px;
    }
  }
  .three-split figure:last-child, .three-split p:last-child{
    padding-left: 20px;
    float:right;
    figcaption{
      padding-right: 20px;
    }
  }
}


/* */
.three-split__with-links {
  // margin-top: 30px;
  display: block;

  section{
    margin-top: 0;
  }

  figure {
    width: 100%;
    margin-top: 30px;
  }
}
@media screen and (min-width: 690px) {
  .three-split__with-links li {
    padding: 0;
    width: 33%;
    max-width: 33%;

    a{
      border-bottom: none;

      figure {
        width: 100%;
        margin-top: 0;
      }
    }
    &.first {
      padding-right: 20px;
      display: inline-block;

      figcaption{
        padding: 0;
      }
    }
    &.second {
      padding-right: 10px;
      padding-left: 10px;
      display: inline-block;

      figcaption{
        padding: 0;
      }
    }
    &.third {
      padding-left: 20px;
      display: inline-block;

      figcaption{
        padding: 0;
      }
    }
  }
}

@media screen and (min-width: 510px) {
  .tall-short-short {
    height: 828px;
    .left{
      width: 50%;
      float:left;
      padding-right: 15px;

      figure{
        height: 828px; // temp fix
        overflow: hidden;
      }
    }
    .right{
      width: 50%;
      padding-left: 15px;
      figure:first-child img{
        padding-bottom: 15px;
      }
      figure:last-child img{
        padding-top: 15px;
      }
    }
  }
}


/* Aditional styling */
.right{
  float: right;
}
.left{
  float: left;
}
.centered{
  margin-left: auto;
  margin-right: auto;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
