@import "vars";
@import url('https://fast.fonts.net/cssapi/0d68696d-b196-4505-872e-45c6f2cca7b6.css');


body {
  .europa;
  font-size: 16px;
  line-height: 30px;
  color: @black;
  -webkit-font-smoothing: antialiased !important;
}

a:link {color: @pink; text-decoration: none; border-bottom: 1px solid @pink;}
a:visited {color: @yellow; text-decoration: none; border-bottom: 1px solid @yellow;}
a:hover {color: @blue; text-decoration: none; border-bottom: 1px solid @blue;}

p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
textarea,
caption {

}
p{
  max-width: 870px; /* .col10 */
  margin-bottom: 30px;
  margin-left: auto;  /* .centered */
  margin-right: auto;  /* .centered */
  padding: 30px 30px;
}
.padding-top{
  padding-top: 30px;
}
.padding-bottom{
  padding-bottom: 30px
}
h1,
.h1-like {
  .europa;
  font-size: 40px;
  line-height: 45px;
}
h2,
.h2-like {
  font-size: 20px;
  line-height: 30px;
}
h3,
.h3-like {

}
.subtitle{
  padding: 60px 30px 0;
  // margin-top: 60px;
  text-align: center;
  display: block;

}

/* avoid collapsing margins
you might need this, depending on your design
*/
/*
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}
*/
/* avoid last-child bottom margin */
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
blockquote:last-child,
pre:last-child,
table:last-child {
    margin-bottom: 0;
}


/* avoid supp margin on nested elements */
li p,
li ul {
    margin-top: 0;
    margin-bottom: 0;
}
/* you shall not pass */
textarea,
table,
td,
th,
code,
pre,
samp,
div,
p {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
code,
pre,
samp {
    white-space: pre-wrap;
    font-family:  monospace;
}
code {
    line-height: 1;
}
table {
    margin-bottom: 1.5em;
}
