@mobile: ~"screen and (max-width: 639px)";
@nonmobile: ~"screen and (min-width: 640px)";

/* tablet vertical */
@tablet: ~"screen and (min-width: 768px)";

/* small laptop / ipad horizontal */
@big: ~"screen and (min-width: 1024px)";

/* laptop / desktop full-screen browser */
@bigger: ~"screen and (min-width: 1192px)";

/* 'venti' desktop full-screen browser */
 @biggest: ~"screen and (min-width: 1280px)";

/* What are you, on a imperial star destroyer? */
 @intergalactic: ~"screen and (min-width: 1380px)";


@link-color: @green;
@link-color-hover: @light-green;
@light-green: #7BD492;
@green: #7FDD98;
@black: #333333;


.max-width() { max-width: 1230px; }
.no-margin() { margin: 0px; }
.no-padding() { paddin: 0; }
